/* || General */

* {
    background-color: hsl(244, 67%, 60%);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    text-decoration-line: none;
    text-align: center;
    padding: 2px;
}

main {
    position: center;
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background: hsl(244, 67%, 66%);
}


/* || Profile Details */

header {
    background: hsl(244, 67%, 66%);
}

.profilePicture {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: hsl(244, 67%, 66%);
}

h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px;
    background: hsl(244, 67%, 66%);
}

h2 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 5px;
    background: hsl(244, 67%, 66%);
}

p {
    margin-bottom: 5px;
    background: hsl(244, 67%, 66%);
}


/* || Social Links */

nav {
    background: hsl(244, 67%, 66%);
}

li {
   background: hsl(244, 67%, 66%); 
}

ul {
    list-style-type: none;
    display: grid;
    border-radius: 7%;
    gap: 15px;
    background: hsl(244, 67%, 66%);
}

.linkBoxes {
    display:inline-block;
    position: relative;
    min-width: 250px;
    padding: 10px;
    font-weight: 600;
    z-index: 1;
    border-radius: 10px;
    background: hsl(244, 67%, 74%);
}
